/* --- foundation --- */
*,
*::before,
*::after {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	padding-top: 100px;
}
a {
	cursor: pointer;
}
header {
	height: 100px;
	background-color: #ddd;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
}
.container {
	max-width: 800px;
	width: 90vw;
	margin: 0 auto;
}
video {
	display: block;
	width: 100%;
}
img {
	max-width: 100%;
}
.elem-left,
.elem-right {
	margin-top: 10px;
	margin-bottom: 10px;
	max-width: 45%;
	overflow: hidden;
}
.elem-left {
	float: left;
	margin-right: 10px;
}
.elem-right {
	float: right;
	margin-left: 10px;
}
/* --- end foundation --- */

[data-vimeo], 
[data-embed] {
	position: relative;
}
[data-vimeo] .play,
[data-vimeo] .close {
	background-color: #00a5be;
	color: #fff;
	padding: 11px;
	text-transform: uppercase;
}
[data-vimeo] .play:hover,
[data-vimeo] .close:hover {
	background-color: #464646;
	color: #fff;
}
[data-embed] .play {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
[data-embed] .close {
	position: absolute;
	top: 0;
	right: 0;
}
[data-embed] .close i:before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.youtube {
	position: relative;
	cursor: pointer;
	width: 100%;
	font-size: 0;
}
.youtube[class*="elem-"] {
	width: 440px;
}
.youtube:before,
.youtube:after {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.youtube:before {
	content: "";
	background-color: #fff;
	width: 40px;
	height: 40px;
}
.youtube:after {
	font-size: 70px;
	color: #4d4d4d;
	font-family: "fontello";
	font-weight: 400;
	margin: 0;
	font-style: normal;
	content: "\e80e";
}
.youtube:hover:after {
	color: #ff0000;
}
.youtube.active:before,
.youtube.active:after {
	display: none;
}

/* --- custom --- */
.banner .caption {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.playing.banner .caption {
	position: static;
	transform: none;
}

.testimonials {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
}
.testimonials > * {
	width: 48%;
}
.playing.testimonials > * {
	width: 100%;
}
@media only screen and (max-width: 900px) {
	.banner .caption {
		position: static;
		transform: none;
	}
	.testimonials > * {
		width: 100%;
	}
}